*{
	margin:0;
	padding:0;
}


body {
	 
	 
}

#contenedor{
	width:3800px;
	height: 3700px;
	background-color:bbdaa8;
	
	margin:0.5em auto;
	padding:0.5em;
	border:1px solid black;
}

#header{
border:1px solid black;
width:1800px;
height: 300px;
background: url('cabeceras/cabeceranegra.png');
border-radius:1em;
margin: 1em auto;
}


#nav{
	 
	height:200px;
	background-color:white;
	border-radius:1em;
	border:1px solid black;
	margin:1em;
}




 

ul.lista >li {

font-size:80px;
float:left;
display:inline;
margin:50px 100px 20px 0;}

	
ul li{list-style:none;}
	
	li ul{
		
	background:#AED1FF;
	padding:0 20px;
	height:0;
	overflow:hidden;
	position:absolute;
	}
	
	li:hover ul{
	  width:10em;
	  height:10em;
	}

	li ul li {
	font-size:50px;
	margin:10px auto;}
	


#contenedor2{
	
	height:2110px;
	background-color:#e0ecb4;
	margin:1em;
}

#footer{
	
 /*background: url('footer/footerindexverde.png'); */
	border-radius:1em;
	margin-top:50px;
	height:955px;
	width:3800px;
	position:absolute;
}
	

#section{
	height:2000px;
	width:2700px; 
	background-color:#D9EFB3 ;
	border-radius:4em;
	float:right;
	margin: 0.5em;
}

.estiloform {
	
	background-color:#839565;
	margin-top:30px;
	height:1500px;
	width:2500px;
	margin-left:50px;

	
	
}

.cuenta {
	width:1000px;
	height:150px;
	font-size:60px;
	margin-left:55px;
	margin-top:190px;
	background-color:#E8FFFF;
	
}


.formulario{
	
	width:2000px;
	height:100px;
	font-size:60px;
	margin-left:1em;
	margin-top:50px;
	background-color:#FFCEB8;
	
	
}

.botonformulario {
	width:2000px;
	height:209px;
	font-size:60px;
	margin-left:55px;
}
 



#aside {
	
	height:2000px;
	width:1000px;
	 background: url('imagenes/daredevilverde.png');
	border-radius:1em;
	float:left;
	margin:0.5em;
}



.logo{
	width:180px;
	height:180px;
	margin-left:-600px;
	margin-top:50px;

	
	
}

.lista {
	margin-left:500px;
	padding:0;

}



.suscripcion {
	
	margin-top:200px;
	margin-left:50px;
	font-size:120px;
	text-align:center;
	
	
}


.contacto {
	
 	font-size:90px;
	text-align:center;
	margin-top:70px;
}